<!doctype html>
<html>
  <head>
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
  </head>
  <body ng-app="myangularwebpacktemplate">
    <div ui-view></div>

    <!--<script src="app.constants.js"></script>-->
  </body>
</html>
